

main{
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}
.main__container{
    padding:20px 35px;

}  
.main__title{
    display:flex;
    align-items: center;
} 

.main__title >img{
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}
.amin__greeting >h1{
    font-size: 24px;
    color:#2e4a66;
    margin-bottom: 5px;
}
.amin__greeting > p{
    font-size: 14px;
    font-weight: 700;
    color:#a5aaad;
}







.tooltip {
    display: inline;
    position: relative;
    
  }
 

  .tooltip:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgb(20, 20, 20);
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: -120px 0 0;
    font-size: 10px;
    padding: 5px;
    width: auto;
    height: 40px;
   }
  
.tab > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 14px;
  }
  
  .tab > ul > li {
    float: left;
  }
  
  .tab > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .tab > ul > li a:hover {
    background-color: #111;
  }
  .active{
      background: #111;
      border-bottom: solid 3px rgb(185, 37, 37);
  }
  table{
      width: 100%;
      border-collapse: collapse;
     
  }
  td{
      font-size: 13px;
      padding: 5px;
      text-align: center;
      
  }
  td > a{
    font-size: 10px;
   text-decoration: none;
  
  }
  td>a:hover{
     font-style: italic;
     color: black;
  }
  tr >th{
      font-size: 15px;
      background: rgb(26, 34, 48);
      height: 20px;
      color: white;
      text-transform: capitalize;
  }
  .cover-data{
   
    margin-top: 10px;
    box-shadow: 5px 4px 20px 8px gray;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin: 10px;
  }
 .scroll-data{
     display: block;
     overflow: auto;
     height: auto;
     max-height: 400px;
 }